/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: sans-serif;
}

img {
    width: 100%;
}

/* HEADER */
header {
    background-color: black;
    height: 65px;
    display: flex;
    justify-content: flex-end;
    padding: 10px 3px;
}

.header-menu span {
    background-color: #4a4a4a;
    color: white;
    padding: 5px;
    border-radius: 8px;
    font-size: 13px;
}

/* MAIN */
main {
    height: calc( 100vh - 165px);
    overflow-y: auto;
}

.card-container {
    display: flex;
    background-color: black;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    width: 240px;
    height: 140px;
    margin: 3px;
    background-image: url("http://picsum.photos/246/146");
    display: flex;
    align-items: flex-end;
}

.card-text {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    width: 95px;
    font-size: 13px;
}

/* FOOTER */
footer {
    background-color: lightcoral;
    height: 100px;
}

