/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: sans-serif;
}

/* HEADER */
header {
    background-color: black;
    height: 65px;
    display: flex;
    justify-content: flex-end;
    padding: 10px 3px;
}

.header-menu span {
    background-color: #4a4a4a;
    color: white;
    padding: 5px;
    border-radius: 8px;
    font-size: 13px;
}

/* MAIN */
main {
    background-color: lightgreen;
    height: calc( 100vh - 170px);
    overflow-y: auto;
}

/* FOOTER */
footer {
    background-color: lightcoral;
    height: 100px;
}

